<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../style/film1.css">
	<title>Home page</title>
</head>
<body>
	<div class="wrapper">
		<nav>
			<ul>
				<li><a href="../template/Index.html">Početna</a></li>
				<li><a href="../template/Projekcije.html">Projekcije</a></li>
				<li><a href="../template/Prodavci.html">Prodavci</a></li>
				<li><a href="../template/Login.html">Odjava</a></li>
			</ul>
		</nav>
		

		<section id="blocks">

			<div class="searchWrap">
      				<input type="text" class="searchbox" placeholder="Search">
      				<center><button class="searchButton">Search</button></center>
			</div>
			

			<article class="film">

				<h1>Thor: Ragnarok</h1>
				<p>
					U Marvelovom filmu „Tor - Ragnarok“, Tor je zarobljen s druge strane svemira bez svog moćnog malja i nalazi se u trci s vremenom da se vrati u Asgard i zaustavi Ragnarok - uništenje njegove domovine i kraj asgardijanske civilizacije – od strane svemoćne nove pretnje, nemilosrdne Hele. Ali prvo mora da preživi gladijatorsko takmičenje koje će ga suočiti s bivšim saveznikom i kolegom Osvetnikom – neverovatnim Hulkom. 
				</p>
				<div class="videoContainer"><center><iframe width="560" height="315" src="https://www.youtube.com/embed/8BlyhZM755A" frameborder="0" allowfullscreen class="video"></iframe></center></div>

				<center><table class="tabela">
					<tr>
						<th>Dan</th>
						<th>Vreme</th>
						<th>Cena</th>
						<th>Sala</th>
					</tr>
					<tr>
						<td>Utorak</td>
						<td>22:00</td>
						<td>300 din</td>
						<td>4</td>
					</tr>
					<tr>
						<td>Cetvrtak</td>
						<td>17:00</td>
						<td>350 din</td>
						<td>2</td>
					</tr>
					<tr>
						<td>Subota</td>
						<td>21:00</td>
						<td>420 din</td>
						<td>2</td>
					</tr>
				</table>
				</center>

				<input type="submit" value="Obrisi projekciju">

			</article>
				
				

			
		</section>

	</div>
</body>
</html>