<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../style/film1.css">
	<title>Home page</title>
</head>
<body>
	<div class="wrapper">
		<nav>
			<ul>
				<li><a href="../template/Index.html">Početna</a></li>
				<li><a href="../template/Projekcije.html">Projekcije</a></li>
				<li><a href="../template/Prodavci.html">Prodavci</a></li>
				<li><a href="../template/Login.html">Odjava</a></li>
			</ul>
		</nav>
		

		<section id="blocks">

			<div class="searchWrap">
      				<input type="text" class="searchbox" placeholder="Search">
      				<center><button class="searchButton">Search</button></center>
			</div>
			

			<article class="film">

				<h1>The Justice League</h1>
				<p>
					Betmen i Supermen formiraju tim dok se pojavljuje novi negativac - Darksajd. On ima moć koja bi mogla da uništi celu galaksiju. Brus Vejn će morati da pretraži ceo svet kako bi našao ljude dovoljno snažne da se bore protiv ovakvog protivnika. Pošto je premijera tek u novembru, ne zna se puno, osim da okuplja poznate glumce i još poznatije superheroje
				</p>
				<div class="videoContainer"><center><iframe width="560" height="315" src="https://www.youtube.com/embed/4MP4x0jVe9E" frameborder="0" allowfullscreen class="video"></iframe></center></div>

				<center><table class="tabela">
					<tr>
						<th>Dan</th>
						<th>Vreme</th>
						<th>Cena</th>
						<th>Sala</th>
					</tr>
					<tr>
						<td>Ponedeljak</td>
						<td>18:00</td>
						<td>320 din</td>
						<td>1</td>
					</tr>
					<tr>
						<td>Sreda</td>
						<td>19:00</td>
						<td>350 din</td>
						<td>2</td>
					</tr>
					<tr>
						<td>Petak</td>
						<td>20:00</td>
						<td>420 din</td>
						<td>3</td>
					</tr>
				</table>
				</center>

				<input type="submit" value="Obrisi projekciju">

			</article>
				
				

			
		</section>

	</div>
</body>
</html>