<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../style/film1.css">
	<title>Home page</title>
</head>
<body>
	<div class="wrapper">
		<nav>
			<ul>
				<li><a href="../template/Index.html">Početna</a></li>
				<li><a href="../template/Projekcije.html">Projekcije</a></li>
				<li><a href="../template/Prodavci.html">Prodavci</a></li>
				<li><a href="../template/Login.html">Odjava</a></li>
			</ul>
		</nav>
		

		<section id="blocks">

			<div class="searchWrap">
      				<input type="text" class="searchbox" placeholder="Search">
      				<center><button class="searchButton">Search</button></center>
			</div>
			

			<article class="film">

				<h1>Ubistvo u Orijent Ekspresu</h1>
				<p>
					Ono što je izgledalo da će biti raskošno putovanje vozom kroz Evropu, ubrzo se pretvorilo u jednu od najglamuroznijih, najnapetijih i najuzbudljivijih misterija svih vremena. Nastao prema romanu jedne od najpopularnijih spisateljica Agate Kristi, film Ubistvo u Orijent Ekspresu donosi priču o trinaestoro stranaca zarobljenih u vozu u kome nema nevinih. Svi su osumnjičeni. Samo jedan čovek u borbi sa vremenom, moraće da razreši misteriju, pre nego što ubica ponovo napadne.
				</p>
				<div class="videoContainer"><center><iframe width="560" height="315" src="https://www.youtube.com/embed/ohT6MFtQugU" frameborder="0" allowfullscreen class="video"></iframe></center></div>

				<center><table class="tabela">
					<tr>
						<th>Dan</th>
						<th>Vreme</th>
						<th>Cena</th>
						<th>Sala</th>
					</tr>
					<tr>
						<td>Utorak</td>
						<td>22:00</td>
						<td>300 din</td>
						<td>3</td>
					</tr>
					<tr>
						<td>Cetvrtak</td>
						<td>17:00</td>
						<td>350 din</td>
						<td>2</td>
					</tr>
					<tr>
						<td>Subota</td>
						<td>21:00</td>
						<td>470 din</td>
						<td>1</td>
					</tr>
				</table>
				</center>

				<input type="submit" value="Obrisi projekciju">

			</article>
				
				

			
		</section>

	</div>
</body>
</html>