<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<title>Home page</title>
</head>
<body>
	<div class="wrapper">
		<nav>
			<ul>
				<li><a href="../template/Index.html">Početna</a></li
				<li><a href="../template/Projekcije.html">Projekcije</a></li>
				<li><a href="../template/Prodavci.html">Prodavci</a></li>
				<li><a href="../template/Login.html">Odjava</a></li>
			</ul>
		</nav>

		

		<section id="blocks">

			<div class="searchWrap">
      				<input type="text" class="searchbox" placeholder="Search">
      				<center><button class="searchButton">Search</button></center>
			</div>
			

			<article class="film">

				<h1>The Justice League</h1>
				
				<!--<div class="videoContainer"><center><iframe width="560" height="315" src="https://www.youtube.com/embed/4MP4x0jVe9E" frameborder="0" allowfullscreen class="video"></iframe></center></div>-->
				<!--onclick="window.location='../template/Index.html';""-->

				<div class="flip-container">
					<div class="flipper">
						<div class="front"><img class="justiceLeagueImg" src="../data/justiceleague.jpg" width="100%" height="100%""></div>
						<div class="back">
							Režiser: Zack Snyder <br>
							Glumci: Gal Gadot, Ben Affleck, Ezra Miller, Jason Momoa, Henry Cavill<br>
							Žanr: Avantura<br>
							Trajanje:  121 min<br>
							Distributer: Blitz Film Video doo<br>
							Zemlja porekla: US<br>
							Godina proizvodnje: 2017
						</div>	
					</div>
				</div>
				<a href="../template/film1.html" class="info film1">Vise informacija</a>

			</article>

			<article class="film">
				<h1>Thor: Ragnarok</h1>
				
				<div class="flip-container">
					<div class="flipper">
						<div class="front"><img class="justiceLeagueImg" src="../data/thor.jpg" width="100%" height="100%""></div>
						<div class="back">
							Režiser: Taika Waititi<br>
							Glumci: Chris Hemsworth, Tom Hiddleston<br>
							Žanr: Akcioni, Avantura, SF<br>
							Trajanje:  130 min<br>
							Distributer: Taramount<br>
							Zemlja porekla: US<br>
							Godina proizvodnje: 2017
						</div>	
					</div>
				</div>
				<a href="../template/film2.html" class="info film2">Vise informacija</a>
			</article>

			<article class="film">
				<h1>Murder on the Orient Express</h1>
				<div class="flip-container">
					<div class="flipper">
						<div class="front"><img class="justiceLeagueImg" src="../data/orientexpress.jpg" width="100%" height="100%""></div>
						<div class="back">
							Režiser: Kenneth Branagh<br>
							Glumci: Johnny Depp, Michelle Pfeiffer, Daisy Ridley<br>
							Žanr: Drama<br>
							Trajanje:  114 min<br>
							Distributer: MegaCom Film<br>
							Zemlja porekla: US<br>
							Godina proizvodnje: 2017
						</div>	
					</div>
				</div>
				<a href="../template/film3.html" class="info film3">Vise informacija</a>
			</article>
		</section>

	</div>
</body>
</html>