<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../style/login.css">
	<title>Home page</title>
</head>
<body>
	<div class="wrapper">
		

		<section id="blocks">

			<div class="form">
				<center><input type="text" name="Username" id="username" placeholder="Username"></center>
				<center><input type="password" name="Password" id="password" placeholder="Password"></center>
				<p id="pogresnaLozinka"></p>
				<center><input type="submit" onclick="login()"></center>
			</div>
			
		</section>

	</div>

	<script type="text/javascript" src="../scripts/login.js"></script>
</body>
</html>